@import 'components/intro';
@import 'components/nav';
@import 'components/portfolio';
@import 'components/jumbo';
@import 'components/reasons';
@import 'components/contacts';
// @import 'components/fontsColors';

* {
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

body {
    @include tablet() {
        // padding: 0 10%;
    }
}

.container {
    // background-color: red;
    
    @include desktop() {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        // height: 100vh;
    }

    .navintro {
        @include desktop() {
            // padding: 
            width: 45%;
        }
    }
}