
//size mixins

@mixin tablet { //J AK TO VYPADA NA TABLETU
    @media (min-width: 750px) and (max-width: 1099px) {
        @content;
    }
}

@mixin desktop { // JAK TO VYPADA NA DESKTOPU
    @media (min-width: 1100px) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: 1500px) {
        @content;
    }
}

// @mixin desktop {
//     @media (min-width: 950px) {
//         @content;
//     }
// }
// COLORS
$nav-color: white;
$portfolio-color: white;
$skills-color: blue;
$contacts-color: black;

$a-color: black;

//FONTS

//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Josefin Slab', serif;

$b: 'Aleo', serif;
$c: 'Open Sans Condensed', sans-serif;
$a: 'Advent Pro', sans-serif;

$colorOne: #4A9DFD;
$colorTwo: #214671;
$colorTri: #3776BD;
$txt-color: black;



// font-family: 'Aleo', serif;
// font-family: 'Advent Pro', sans-serif;

//font mixins
@mixin a() {
    // font-family: $a;
    // font-size: 30px;
    font-weight: 900;
    color: $colorOne;
    font-size: 2em;
    font-family: $a;
    // @include tablet () {
    //     font-size: 21px;
    // }
    // @include xlarge {
    //     font-size: 24px;
    // }
}

@mixin b() {
    font-family: $b;
    font-size: 1em;
    font-weight: 900;
    color: $txt-color;
    // @include tablet () {
    //     font-size: 10px;
    // }
    // @include xlarge {
    //     font-size: 26px;
    // }
}

@mixin c() {
    font-family: $c;
    font-size: 1em;
    font-weight: 500;

    // @include tablet () {
    //     font-size: 17px;
    // }
    // @include xlarge {
    //     font-size: 22px;
    // }
}

@mixin as() {
    font-family: $c; 
    font-size: 1em;
    font-weight: bold;
    color: $txt-color;
    // @include tablet () {
    //     font-size: 15px;
    // }
    // @include xlarge {
    //     font-size: 19px;
    // }
}


