
//size mixins

@mixin tablet { //J AK TO VYPADA NA TABLETU
    @media (min-width: 750px) and (max-width: 1099px) {
        @content;
    }
}

@mixin desktop { // JAK TO VYPADA NA DESKTOPU
    @media (min-width: 1100px) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: 1500px) {
        @content;
    }
}

// COLORS

$colorOne: #4A9DFD; // headings, inputs
$colorTwo: #214671;
$colorTri: #3776BD; // contact bg
$extra-color: black;
//FONTS

//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Josefin Slab', serif;

$a: 'Advent Pro', sans-serif;  // i am peter , headings
$b: 'Aleo', serif; // intro
$c: 'Open Sans Condensed', sans-serif; // anchors , reasons para, contacts





// font-family: 'Aleo', serif;
// font-family: 'Advent Pro', sans-serif;

//font mixins
@mixin a() { // I am peter, headings
    font-weight: 900;
    color: $colorOne;
    font-size: 2em;
    font-family: $a;
    @include tablet() {
        font-size: 4em;
    }

    @include desktop() {
        font-size: 4em;
    }
    @include xlarge {
        // font-size: 5em;
    }
}

@mixin b() { //guiding intro paragraph
    font-family: $b;
    font-size: 1em;
    font-weight: 900;
    color: $extra-color;
    @include tablet() {
        font-size: 1.8em;

    }

    @include desktop() {
        font-size: 1.5em;
    }
    // @include xlarge {
    //     font-size: 26px;
    // }
}

@mixin c() { // reason paras, 
    font-family: $b;
    font-size: 1em;
    font-weight: 300;
    // line-height: 2em;
    color: #727173;

    @include tablet() {
        font-size: 2em;
    }

    @include desktop() {
        font-size: 1.6em;

    }
    // @include xlarge {
    //     font-size: 22px;
    // }
}

@mixin as() { // 3 reasons link, ..
    font-family: $c; 
    font-size: 1em;
    font-weight: bold;
    color: $extra-color;
    @include tablet () {
        font-size: 1em;
    }
    @include desktop() {
        font-size: 1em;
    }
    // @include xlarge {
    //     font-size: 19px;
    // }
}

@mixin extra() { // project names
    font-family: $c; 
    font-size: 1em;
    font-weight: bold;
    color: $extra-color;
    @include tablet () {
        font-size: 2em;
        // width: 50%;
    }
    // @include xlarge {
    //     font-size: 19px;
    // }
}




