@import 'components/fontsColors';


nav {
    // position: fixed;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
    height: 9vh;
    background-color: white;

    .logo {
        width: 10vh;
        height: 8vh;
    }

    @include tablet() {
        width: 80%;
        margin: auto;
        padding: 1vh 0;
    }

    @include desktop() {
        width: 100%;
        margin: auto;
        // position: static;
    }
}


    