@import 'fontsColors';

@keyframes slideleft {
    from {left: 3%; animation-timing-function: ease-in;}
    30% {left: 0; animation-timing-function: ease-out;}
    50% {left: 1%; animation-timing-function: ease-in;}
    75% {left: 0; animation-timing-function: ease-out;}
    88% {left: .5%; animation-timing-function: ease-in;}
    to {left: 0; animation-timing-function: ease-out;}
}

.portfolio {
    overflow: auto;
    width: 100%;
    text-align: center;
    padding: 10% 0 0 0;

    @include desktop() {
        width: 45%;
        height: 99vh;
        padding: 2vh 0 0 0;
        margin-top: 1vh;
        background-color: #F8F8F8;
    }

    h2 { //PORTFOLIO HEADING mobile only
        @include a;
        margin-bottom: 5%;
        @include desktop() {
            display: none;
        }
    }

    // .arrow { //Mobile only ARROW
    //     width: 2%;
    //     @include desktop() {
    //         display: none;
    //     }
    // }

    ul {
        // padding: 0 10%; 
        list-style: none;
        padding: 6vh 0 0 0;

        li { 
            position: relative;
            width: 85%;
            margin: 0 auto 15% auto;
            padding: 10% 0;
            box-shadow: -4px 10px 78px -20px rgba(0,0,0,0.45);

            @include tablet() {
                width: 80%;
            }

            @include desktop() {
                
                box-shadow: none;
                
                height: 27vh;
                width: 37vh;
                margin: 5% auto;
                margin-bottom: 1%;
                padding: 0;
                

            }
            
            .web-cells { //PICTURES FOR MOBILE VERSION
                width: 90%;
                filter: grayscale(80%);

                @include desktop() {
                    display: none;
                }
            }

            .web-desks { //PICTURES FOR DESKTOP
                display: none;

                @include desktop() {
                    display: block;
                    width: 100%;
                    height: auto;
                    filter: grayscale(80%);
                    opacity: 1;
                    transition: opacity .3s;
                    &:hover {
                        opacity: 0.1;
                    }
                }
            }

            // p {
            //     width: 90%;
            //     margin: auto;
            // }

            .overlay {
                width: 90%;
                margin: auto;
                @include desktop() {
                    text-align: center;
                    vertical-align: middle;
                    line-height: 27vh;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $colorOne;
                    // background-color: black;
                    color: white;
                    .overlay-text {
                        font-size: 1.2em;
                    }
                }
            }

            a {
                @include extra;
                font-weight: 700;
                text-decoration: none;
                @include desktop() {
                    // font-size: 4em;
                }
            }
        }

        // .more-port {  // MORE PORTFOLIO BUTTON
        //     // text-align: right;
        //     background-color: rgb(100, 0, 0);
        //     height: 
           
        //     a {
        //         // @include as;
        //         color: white;
        //     }

        //     @include desktop() {

        //     }
        // }


        .one { // FIRST LIs 
            @include desktop() {
                animation: slideleft .5s;
                margin-top: 0;
            }
        }
        .two {
            @include desktop() {
                animation: slideleft 1s;
            }
        }
        .tri {
            @include desktop() {
                animation: slideleft .8s; 
            }

        }    

    }

}




