@import 'fontsColors';

.reasons {
    padding: 10% 0;
    @include tablet() {
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
    }
    @include desktop() {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 5% 5%;
    }

    h2 {
        width: 85%;
        text-align: center;
        @include a;
        margin: auto;
        margin-bottom: 17% ;
        @include tablet() {
            font-size: 29px;
        }
        @include desktop() {
            // margin-bottom: 5%;
            width: 100%;
        }
    }

    p {
        margin: 0 auto 5% auto;
        width: 80%;
        @include c;
        line-height: 1.3em;
        text-align: justify;
        text-justify: newspaper;

        @include tablet() {
            text-align: center;
            width: 100%;
        }
        @include desktop() {
            // border-top: black solid 1px;
            // border-left: lightgrey solid 1px;
            // padding-left: 1%;
            width: 22%;
        }
    }

    .middle-reason {
        color:  $colorTri;
    }
}

/* SKILLS KONEC */




