@import 'fontsColors';

.reasons {
    border-top: 1px black solid;
    padding: 10% 10%;
    @include desktop() {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 5% 5%;
    }

    h2 {
        text-align: center;
        @include hs;
        margin-bottom: 15%;
        @include desktop() {
            margin-bottom: 5%;
            width: 100%;
        }
    }

    p {
        @include ps;
        @include desktop() {
            width: 25%;
        }
    }
}

/* SKILLS KONEC */




