@import 'fontsColors';

.reasons {
    padding: 10% 0;
    @include tablet() {
        width: 80%;
        margin: auto;
    }
    @include desktop() {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 5% 5%;
    }

    h2 {
        width: 85%;
        text-align: center;
        @include hs;
        margin: auto;
        margin-bottom: 5% ;
        @include desktop() {
            // margin-bottom: 5%;
            width: 100%;
        }
    }

    p {
        margin: 0 auto 5% auto;
        width: 80%;
        @include ps;
        @include tablet() {
            text-align: center;
        }
        @include desktop() {
            // border-top: black solid 1px;
            // border-left: lightgrey solid 1px;
            // padding-left: 1%;
            width: 22%;
        }
    }
}

/* SKILLS KONEC */




